extends ../layout
block styles
  //- link(rel='stylesheet', href='/app/styles/frontend.css')
  //- link(rel='stylesheet', href='/app/styles/admin.css')
  
block content
  #app
block scripts
  script(src='/app/vendor.js')
  script(src='/app/frontend.js')
  script(src='/app/admin.js')
