doctype html
html
  head
    block title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="icon", type='image/png' href="/images/ic_utaisupply.png" sizes='32*32')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900")
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css")
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    script(src='https://unpkg.com/vue')
    script(src='/javascripts/jquery-3.2.1.min.js')  
    script(src='/javascripts/main.js')  
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    block head

  body
    nav.navbar.primary-color.nav-top
      .navbar-brand
        a.navbar-item
          img(src="/images/logo.png",alt="Utai Supply")
        .navbar-burger.primary-color(data-target="navMenu")
          span.white-color
          span.white-color
          span.white-color
      #navMenu.navbar-menu.primary-color
        .navbar-end
          a.nav-item.is-hoverable.text-is-white(href='/') หน้าหลัก
          a.nav-item.is-hoverable.text-is-white(href="/product") สินค้า
          a.nav-item.is-hoverable.text-is-white(href="/service") บริการ
          a.nav-item.is-hoverable.text-is-white(href="/portfolio") ผลงาน
          a.nav-item.is-hoverable.text-is-white(href="/contact") ติดต่อเรา
    .content-main
      block content

      footer.footer
        .container
          .content.has-text-centered
            p.icon
              a.mar-right(href="https://www.facebook.com/utaisupply/" target='_blank')
                i.fa.fa-facebook-square
              a.mar-right(href="tel:032353887")
                i.fa.fa-phone
              a.mar-right#mail
                i.fa.fa-envelope
              a(href="http://line.me/ti/p/~utaisupply")
                i.fa.fa-commenting
            p.is-size-5 ยินดีต้อนรับสู่ บริษัทอุทัยซัพพลาย จำกัด </br> Welcome to Utai Supply
