extends layout
block title
  title Utaisupply - Service
block head
  link(rel='stylesheet', href='/stylesheets/css/service.css')
block content
    section.hero.is-fullheight.parallax.content-parallax
        .parallax-container
          .parallax
            img(src="/images/service.jpeg")
        .hero-body
            .container.has-text-centered
                h3.title.is-1.text-color-white <strong>บริการ</strong>
                h4.subtitle.is-5.text-color-white ด้วยความรวดเร็วและความใส่ใจ
    section#tab-menu
        .tabs.is-fullwidth
            ul
                li
                    a#tab-laser-cutting(v-on:click="scroll")
                        span.is-size-6 ตัดเลเซอร์
                li
                    a#tab-plasma-cutting(v-on:click="scroll")
                        span.is-size-6 ตัดพลาสม่า
                li
                    a#tab-metal-cutting(v-on:click="scroll")
                        span.is-size-6 ตัดเหล็ก
                li
                    a#tab-fold(v-on:click="scroll")
                        span.is-size-6 พับ
                li
                    a#tab-bend(v-on:click="scroll")
                        span.is-size-6 ม้วน
    section.hero.content-service-main
        .hero-body
            .container
                .columns#laser-cutting
                    .column.is-narrow
                        img(src="/images/laser.jpg" alt="Laser cutting")
                    .column
                        .hero.is-fullheight
                            .hero-body
                                .container
                                    h3.title.is-1 <strong>ตัดเลเซอร์</strong>
                                    h4.subtitle.is-5 สามารถตัดเหล็ก 1-8 มิลลิเมตร  </br>และตัดสเตนเลส 0.5-6 มิลลิเมตร 
                    .column.is-2.is-hidden-mobile
                .columns#plasma-cutting
                    .column.is-2.is-hidden-mobile
                    .column.is-narrow.is-hidden-tablet
                        img(src="/images/plasma.jpg" atl="Plasma cutting")
                    .column
                        .hero.is-fullheight
                            .hero-body
                                .container
                                    h3.title.is-1 <strong>ตัดพลาสม่า</strong>
                                    h4.subtitle.is-5   สามารถตัดเหล็ก 1-26 มิลลิเมตร </br>และตัด  สเตนเลส 0.5-16 มิลลิเมตร
                    .column.is-narrow.is-hidden-mobile
                        img(src="/images/plasma.jpg" atl="Plasma cutting")
                .columns#metal-cutting
                    .column.is-narrow
                        img(src="/images/shearing.jpg" alt="Metal cutting")
                    .column
                        .hero.is-fullheight
                            .hero-body
                                .container
                                    h3.title.is-1 <strong>ตัดเหล็ก</strong>
                                    h4.subtitle.is-5 สามารถตัดเหล็กความหนาสูงสุด 6 มิลลิเมตร </br>และตัด สเตนเลส 3 มิลลิเมตร </br>  ความยาวไม่เกิน 6 เมตร 
                    .column.is-2.is-hidden-mobile
                .columns#fold
                    .column.is-2.is-hidden-mobile
                    .column.is-narrow.is-hidden-tablet
                        img(src="/images/folding.jpg" atl="Folding")
                    .column
                        .hero.is-fullheight
                            .hero-body
                                .container
                                    h3.title.is-1 <strong>พับ</strong>
                                    h4.subtitle.is-5   พับเหล็กความหนาสูงสุด 8 มิลลิเมตร  </br> และพับสเตนเลสความหนาสูงสุด 4 มิลลิเมตร </br>  ความยาวไม่เกิน 6 เมตร
                    .column.is-narrow.is-hidden-mobile
                        img(src="/images/folding.jpg" atl="Folding")
                .columns#bend
                    .column.is-narrow
                        img(src="/images/bending.jpg" alt="Bending")
                    .column
                        .hero.is-fullheight
                            .hero-body
                                .container
                                    h3.title.is-1 <strong>ม้วน</strong>
                                    h4.subtitle.is-5 ม้วนเหล็กความหนาสูงสุด 3 มม.  </br>ความยาวไม่เกิน 3 เมตร 
                    .column.is-2.is-hidden-mobile          
    
    script(src='/javascripts/service.js')  
    
