.content {
  width: 100vw;
  height: 100vh;
  background-color: #f9f9f9;

  .main-login {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    .title-utai {
      font-size: 3.5rem;
      font-weight: 300;
      margin-bottom: 50px;
    }

    .card {
      .notification {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
      }
      padding: 40px 25px;

      .field {
        margin-bottom: 1.5rem;
      }
    }
  }
}
