$blue: #12244E;
$blue1: #162854;
$grey: #555555;
$grey1: #39424e;
$grey2: #404a57;
$grey_light: #fdfdfd;

.is-blue {
    background-color: $blue !important;
}

.is-text-blue {
    color: $blue !important;
}

.is-blue1 {
    background-color: $blue1 !important;
}

.is-text-blue1 {
    color: $blue1 !important;
}

.is-white {
    background-color: white !important;
}

.is-text-white {
    color: white !important;
}

.is-grey-light {
    background-color: $grey_light !important;
}

.is-text-grey-light {
    color: $grey_light !important;
}
.is-grey {
    background-color: $grey !important;
}

.is-text-grey {
    color: $grey !important;
}

.is-grey1 {
    background-color: $grey1 !important;
}

.is-text-grey1 {
    color: $grey1 !important;
}

.is-grey2 {
    background-color: $grey2 !important;
}

.is-text-grey2 {
    color: $grey2 !important;
}
