@import url(https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900|Kanit:100,200,300,400,500,600,700,800,900);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.is-font-ultra-light {
    font-weight: 100 !important;
}

.is-font-light {
    font-weight: 200 !important;
}

.is-font-thin {
    font-weight: 300 !important;
}

.is-font-regular {
    font-weight: 400 !important;
}

.is-font-medium {
    font-weight: 500 !important;
}

.is-font-semi-bold {
    font-weight: 600 !important;
}

.is-font-bold {
    font-weight: 700 !important;
}

.is-font-condense {
    font-weight: 800 !important;
}

.is-font-ultra-condense {
    font-weight: 900 !important;
}