.font-is-ultra-light {
    font-weight: 100 !important;
}

.font-is-light {
    font-weight: 200 !important;
}

.font-is-thin {
    font-weight: 300 !important;
}

.font-is-regular {
    font-weight: 400 !important;
}

.font-is-medium {
    font-weight: 500 !important;
}

.font-is-semi-bold {
    font-weight: 600 !important;
}

.font-is-bold {
    font-weight: 700 !important;
}

.font-is-condense {
    font-weight: 800 !important;
}

.font-is-ultra-condense {
    font-weight: 900 !important;
}